section.about#about
	.main__container.about__wrapper
		.about__description.about__column
			p.section__title.about__title
				span Что
				span я
				span делаю
			p.section__description.about__description Lorem ipsum dolor sit amet, consectetur.
		.about__todo.about__column
			.todo__list
				.todo__item
					.todo__icon
						img(src="img/rings.png" alt="alt")
					.todo__text
						p.todo__title Lorem.
						p.todo__desription Lorem ipsum dolor sit amet.
				.todo__item
					.todo__icon
						img(src="img/drink.png" alt="alt")
					.todo__text
						p.todo__title Lorem ipsum.
						p.todo__desription Lorem ipsum dolor sit.
				.todo__item
					.todo__icon
						img(src="img/balloons--1-.png" alt="alt")
					.todo__text
						p.todo__title Lorem ipsum.
						p.todo__desription Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, libero.
				.todo__item
					.todo__icon
						img(src="img/microphone--1-.png" alt="alt")
					.todo__text
						p.todo__title Lorem ipsum.
						p.todo__desription Lorem ipsum dolor sit amet, consectetur adipisicing elit.
