section.feedback#feedback
	.main__container.feedback__wrapper
		.feedback__column
			p.section__title.feedback__title
				span Lorem
				span ipsum
				span dolor
		.feedback__column
			.feedback__slider-wrapper
				.feedback__slider
					.feedback__slider-item
						.feedback__slider-photo
							img(src="img/photo-img.png" alt="alt").img-cover
						p.feedback__slider-name Lorem.
						p.feedback__slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam sequi adipisci veniam voluptate, veritatis accusamus ad aliquid nisi explicabo, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta nihil, reprehenderit natus.
						.feedback__slider-social
							ul.social__list
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-vk
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-instagram
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-facebook-f
					.feedback__slider-item
						.feedback__slider-photo
							img(src="img/photo-img.png" alt="alt").img-cover
						p.feedback__slider-name Lorem.
						p.feedback__slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam sequi adipisci veniam voluptate, veritatis accusamus ad aliquid nisi explicabo, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta nihil, reprehenderit natus.
						.feedback__slider-social
							ul.social__list
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-vk
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-instagram
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-facebook-f
					.feedback__slider-item
						.feedback__slider-photo
							img(src="img/photo-img.png" alt="alt").img-cover
						p.feedback__slider-name Федя
						p.feedback__slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam sequi adipisci veniam voluptate, veritatis accusamus ad aliquid nisi explicabo, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta nihil, reprehenderit natus.
						.feedback__slider-social
							ul.social__list
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-vk
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-instagram
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-facebook-f
					.feedback__slider-item
						.feedback__slider-photo
							img(src="img/photo-img.png" alt="alt").img-cover
						p.feedback__slider-name Lorem.
						p.feedback__slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam sequi adipisci veniam voluptate, veritatis accusamus ad aliquid nisi explicabo, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta nihil, reprehenderit natus.
						.feedback__slider-social
							ul.social__list
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-vk
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-instagram
								li.social__item
									a(href="#" target="_blank")
										i.fa.fa-facebook-f
