section.main-screen
	.main__container
		header.header
			.header__logo
					a(href="#")
						img(src="img/logo.png" alt="alt")
			.header__content
				.header__nav
					nav.nav__list
						a(href="#").nav__item.nav__item--active LOREM
						a(href="#about").nav__item LOREM
						a(href="#video").nav__item LOREM
						a(href="#gallery").nav__item LOREM
						a(href="#feedback").nav__item LOREM
						a(href="#contacts").nav__item LOREM
				.header__social
					ul.social__list
						li.social__item
							a(href="#" target="_blank")
								i.fa.fa-vk
						li.social__item
							a(href="#" target="_blank")
								i.fa.fa-instagram
						li.social__item
							a(href="#" target="_blank")
								i.fa.fa-facebook-f
		.main-screen__content
			p.main-screen__title Lorem ipsum.
			p.main-screen__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
			p.main-screen__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nemo sit totam repellendus non suscipit! Accusantium eius ullam vero possimus.
			a(href="#form").main-screen__btn Lorem ipsum dolor sit.





